*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    height: 100vh;
    background: rgb(216, 216, 216);
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1000px;
    }
  }
#top{
    display: flex;
    align-items: center;justify-content: space-between;
}
#top div{
    margin: 0 20px;
    display: flex;
}
img{
    width: 100%;
    max-width: 400px;
}